<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SnowVisualizer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/bulma.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">
</head>
<body>
  <section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-4 is-offset-4">
            <h1 class="title">
              <center><i class="fa fa-snowflake-o" aria-hidden="true"></i>
                <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                <i class="fa fa-snowflake-o" aria-hidden="true"></i><br/>Daily Snow Observations</center>
            </h1>
            <div class="box">
            <form action="/submit" method="post">
            <div class="field">
              <label class="label">State 1</label>
                <div class="control">
                <div class="select">
                  <select name="state1">
                    <option>Select State 1</option>
                    {{#each states}}
                      <option value="{{abbreviation}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">State 2</label>
                <div class="control">
                <div class="select">
                  <select name="state2">
                    <option>Select State 2</option>
                    {{#each states}}
                      <option value="{{abbreviation}}">{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
                <label class="label">Year</label>
                <div class="control">
                <div class="select">
                  <select  name="year" id="year">
                    <option value="">Select Year</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
                <label class="label">Month</label>
                <div class="control">
                <div class="select">
                  <select  name="month" id="month">   //onchange="setDays(this,day,year)"
                    <option value="">Select Month</option>
                    {{#each Month}}
                      <option value="{{Number}}">{{Name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>
              <p class="control">
                <center><input type="submit" class="button is-primary">Search</input></center>
              </p>
            </div>
          </form>
            <p class="has-text-centered">
              Access to these data supports the Federal Emergency Management Agency's need for near real-time observations used in assessing requests for disaster assistance. Values are in inches (M represents missing data, T represents trace values).
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
