<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bulma.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<nav class="nav">
  <div class="nav-left">
    <a  href="/" class="nav-item">
      <span class="icon"><i class="fa fa-snowflake-o" aria-hidden="true"></i></span><img src="" alt="SnowVisualizer">
    </a>
  </div>
  <div class="nav-center">
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>
  <div class="nav-right nav-menu">
    <a href="/map" class="nav-item">
      <span class="icon">
        <i class="fa fa-map-o"></i>
      </span>MapView
    </a>
  </div>
</nav>
<body>
    <div class="container">
      {{{body}}}
    </div>
    <script src="/js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
      var state1 = "{{ state1 }}" ; var state2 = "{{ state2 }}"; var year = "{{ year }}" ;  var month = "{{ month }}";
    </script>
    <script src="/js/table.js" charset="utf-8"></script><br/>
    <center><span class="tag"><br/>
     Select the stations from the respective tables to visualize the snowfall data over the entire month.<br/>
     The station that are highlighted in yellow are the ones where the maximum snowfall for the month is greater than 5 inches.<br/>
</span></center><br/>
    <div class="columns">
         <div class="column">
           <p class="notification is-success" id="description1" > </span></p>
           <center><button id="visualize1" class="button is-danger is-small"><span class="icon"><i class="fa fa-area-chart"></i></span>Visualize Selected Stations</button>
             <button id="reset1" class="button is-info is-small"><span class="icon"> <i class="fa fa-undo"></i> </span>  reset</button></center><br/>
           <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <!-- Any other Bulma elements you want -->

              <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <button class="modal-close"></button>
          </div>
           <div>
             <div class="is-vcentered">
               <div class="is-offset-0">
                 <input type="text" class="input  is-danger" id="search1" placeholder="live search on Station name"></input><br/><br/>
                 <table class="table is-bordered is-narrow scroll" id="table1">
                     <tr>
                       <th>No.</th>
                       <th>Station</th>
                       <th>Avg</th>
                       <th>Max (inches)</th>
                     </tr>
                 </table>
               </div>
             </div>
           </div>
         </div>
         <div class="column">
           <p class="notification is-info" id="description2"></p>
           <center><button data-tooltip="Tooltip Text" id="visualize2" class="button is-danger is-small"><span class="icon"><i class="fa fa-area-chart"></i></span>Visualize Selected Stations</button>
             <button data-tooltip="Tooltip Text" id="reset2" class="button is-info is-small"><span class="icon"> <i class="fa fa-undo"></i> </span>  reset</button></center><br/>
           <div>
             <div class="is-vcentered">
               <div class="is-offset-0">
                 <input type="text" class="input is-danger" id="search2" placeholder="live search on Station name"></input><br/><br/>
                 <table class="table is-bordered is-narrow scroll" id="table2">
                     <tr>
                       <th>No.</th>
                       <th>Station</th>
                       <th>Avg</th>
                       <th>Max  (inches)</th>
                     </tr>
                 </table>
               </div>
             </div>
           </div>
         </div>
    </div>
</body>
</html>
