<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bulma.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<<<<<<< HEAD:views/graph.hbs
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <img src="" alt="##Snow Vizualizer 1.0">
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <a class="nav-item">
      Table
    </a>
    <a class="nav-item">
      Graph
    </a>
    <a class="nav-item">
      Map
    </a>

  </div>
</nav>
=======


>>>>>>> 13b91b88cc40570ef429f9ffd4b4e8e4d2c06dbe:views/table.hbs
<body>
    <div class="container">
      {{{body}}}
    </div>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://github.com/highcharts/highcharts/blob/master/js/themes/dark-unica.js"></script>
    <script>
      var state1 = "{{ state1 }}" ; var state2 = "{{ state2 }}"; var year = "{{ year }}" ;  var month = "{{ month }}";
    </script>
<<<<<<< HEAD:views/graph.hbs
    <script src="/js/main.js" charset="utf-8"></script>
    <div class="columns">
         <div class="column">
           <p class="notification is-success" id="description1" ></p>
           <center><button id="visualize1" class="button is-danger is-small">Visualize Selected Stations</button></center><br/>
           <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <!-- Any other Bulma elements you want -->

              <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <button class="modal-close"></button>
          </div>
           <div>
             <div class="is-vcentered">
               <div class="is-offset-0">
                 <input type="text" class="input  is-danger" id="search1" placeholder="live search on Station name"></input><br/><br/>
                 <table class="table is-bordered is-narrow scroll" id="table1">
                     <tr>
                       <th>No.</th>
                       <th>Station</th>
                       <th>Avg</th>
                       <th>Max</th>
                     </tr>
                 </table>
               </div>
             </div>
           </div>
         </div>
         <div class="column">
           <p class="notification is-info" id="description2" ></p>
           <center><button id="visualize2" class="button is-danger is-small">Visualize Selected Stations</button></center><br/>
           <div>
             <div class="is-vcentered">
               <div class="is-offset-0">
                 <input type="text" class="input is-danger" id="search2" placeholder="live search on Station name"></input><br/><br/>
                 <table class="table is-bordered is-narrow scroll" id="table2">
                     <tr>
                       <th>No.</th>
                       <th>Station</th>
                       <th>Avg</th>
                       <th>Max</th>
                     </tr>
                 </table>
               </div>
             </div>
           </div>
         </div>
    </div>
=======
    <script type="text/javascript" src="/js/fusioncharts.js"></script>
    <script type="text/javascript" src="/js/fusioncharts-jquery-plugin.js"></script>
    <script src="/js/table.js" charset="utf-8"></script>
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-8 is-offset-0"> <br/><br/><br/>Description : <h1 id="description"></h1><br/>
              <input type="text" class="input" id="search" placeholder="  live search on Station name"></input><br/><br/><br/>
              <table class="table is-striped is-bordered is-narrow" id="table">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Station Name</th>
                    <th>Average Snowfall</th>
                    <th>Maximum Snowfall</th>
                  </tr>
                </thead>
                <tbody>
                    <tr id="test">
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
>>>>>>> 13b91b88cc40570ef429f9ffd4b4e8e4d2c06dbe:views/table.hbs
</body>
</html>
